body {
	background-image: url(metro.png);
	background-size: cover;
	font-family: "Segoe UI", "Segoe UI Light", Arial;
	background-repeat: no-repeat;
	background-color: #148993;
}
    #footer {
	display: none;
}
#header {
	width: 400px;
	position: absolute;
	margin-left: -200px;
	left: 50%;
	text-align: center;
	color: #FFF;
	background-color: #CC4031;
}
#content {
	height: 300px;
	width: 600px;
	position: absolute;
	margin-left: -300px;
	left: 50%;
	top: 150px;
	color: #FFF;
	background-color: #45BDCE;
}
#content .admin {
	text-align: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#content h1 {
	text-align: center;
}
#content p {
	margin: 20px;
	text-align: center;
}
a:link, a:visited{
	color: #FFF;
}
a:hover{
	color: #FFF;
	text-decoration: overline;
}
